body{
    margin:0%;
}
.slider2{
    margin-top: 6%;
    margin-left:15%;
}

.account{
    margin-left: 19%;
}
.para{
    margin-left:25%;
}
.carousel{
    margin-top: 5%;
    margin-left: 4%;
    width:50%;
}